@font-face {
  font-family: creepy;
  src: url(/Herculanum.ttf);
}

* {
  --primary-color: rgba(0, 0, 0, 0);
}
html,
body {
  height: 100%;
  background-color: #02001a;
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1, p {margin: 10px 0; max-width: 200px;}

#left-eye,
#right-eye,
#nose,
#mouth {
  fill: #02001a;
}
#outline {
  fill: rgba(255, 255, 255, 0.24);
}
#centered {
  position: fixed;
  padding: 30px;
  z-index: 5;
}
#centered.out{pointer-events: none;}
#pumpkinContainer {
  transition: scale 2s, opacity 600ms 100ms;
  scale: 1;
  opacity: 1;
  cursor: pointer;
}
#centered.out #pumpkinContainer{
  scale: 50;
  opacity: 0;
  pointer-events: none;
}
#pumpkinContainer:hover {
  scale: 1.1;
}
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.themed-text {
  font-family: creepy, serif;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
}
.blinktext {
  animation: 3s ease-in-out infinite blink;
}
#centered.out .blinktext {
  animation: none;
  opacity: 0;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}

#invite {
  opacity: 0;
  transition: opacity 500ms;
  z-index: 1;
  width: 100%;
  height: 100%;
}
#name {padding: 0 10px;}
#invite section {
  scroll-snap-align: start;
}
#invite.in {
  opacity: 1;
}
#cta {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
#cta > div {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
#invite.in #cta > div {
  animation: zoomIn 1s both;
  z-index: 5;
}
#invite.in #cta p {animation: fadeIn 1s 500ms ease-out both;}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#cta img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  outline: 3px solid red;
}
#background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 4s 1s;
  object-fit: cover;
}
#scroll-indicator {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, rgba(2,1,26,1) 00%, rgba(2,1,26,0) 100%);
}
#scroll-indicator > svg {animation: nudge 3s infinite;}
#invite.in #background {
  opacity: 0.5;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    scale: 0.6;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes nudge {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}


#main {
    width: 100%;
    height: 1350px;
    /* background-image: url(./assets/Background-shapes.png); */
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.bigbutton{
    border: none;
    display: block;
    width: 170px;
    height: 170px;
    border-radius: 25px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.15);
    position: relative;
}
#cb4:checked + .bigbutton {outline: 3px solid white;}
label.bigbutton:after {
  content: 'Not for me';
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}
.tgl-btn{width: 170px; height: 170px;border-radius: 25px;}
.tgl-skewed + .tgl-btn {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 0.2s ease;
  background: rgba(255, 255, 255, 0.15);
  position: relative;
}
.tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
  position: absolute;
  display: inline-block;
  transition: all 0.2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.tgl-skewed + .tgl-btn:after {
  left: 100%;
  top: 40%;
  white-space: pre;
  content:"77 crehore Dr. \A wear a costume!";
}
.tgl-skewed + .tgl-btn:before {
  left: 0;
  top: 40%;
  content: "I'm in";
}
.tgl-skewed + .tgl-btn:active {
  outline: 3px solid white
}
.tgl-skewed + .tgl-btn:active:before {
  left: -10%;
}
.tgl-skewed:checked + .tgl-btn {
  outline: 3px solid white;
}
.tgl-skewed:checked + .tgl-btn:before {
  left: -100%;
}
.tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}
.tgl-skewed:checked + .tgl-btn:active:after {
  left: 10%;
}
#main > svg {
  animation: wiggle 7s ease-in-out infinite both;
  transform-origin: center;
}
@keyframes wiggle {
  0% {
    transform: translate(7px, 2px);
    rotate: 10deg;
  }
  20%{
    transform: translate(-4px, -7px);
    rotate: 6deg;
  }
  40%{
    transform: translate(-5px, 3px);
    rotate: 8deg;
  }
  60%{
    transform: translate(7px, -2px);
    rotate: 3deg;
  }
  80%{
    transform: translate(-3px, 8px);
    rotate: -2deg;
  }
  100%{
    transform: translate(8px, 3px);
    rotate: 10deg;
  }
}